In [121]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [122]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pymysql
from pygeocoder import Geocoder
import geocoder
import reverse_geocoder as rg

In [200]:
ny_crime_data = "data/NYPD_Complaint_Data_Current__Year_To_Date_.csv"
home_value = "data/Zip_Zhvi_Summary_AllHomes.csv"
zip_db = "data/zip_code_database.csv"

In [201]:
ny_data = pd.read_csv(ny_crime_data, encoding="iso-8859-1")
zip_data = pd.read_csv(home_value, encoding="iso-8859-1")
zip_db = pd.read_csv(zip_db)

In [202]:

zip_db = zip_db.rename(columns={"zip": "Zipcode"})
zip_db = zip_db.merge(NY_Zip, on="Zipcode", how="inner")
zip_db.head()
zip_db = pd.DataFrame({"Zipcode": zip_db["Zipcode"],"Latitude": zip_db["latitude"], "Longitude": zip_db["longitude"]})

In [203]:
zip_db.head()

   Zipcode  Latitude  Longitude
0    10001     40.75     -74.00
1    10002     40.71     -73.99
2    10003     40.73     -73.99
3    10004     40.69     -74.02
4    10005     40.71     -74.01

In [204]:
NY_Zip_Codes = "10001, 10002, 10003, 10004, 10005, 10006, 10007, 10009, 10010, 10011, 10012, 10013, 10014, 10016, 10017, 10018, 10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027, 10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036, 10037, 10038, 10039, 10040, 10044, 10065, 10069, 10075, 10103, 10110, 10111, 10112, 10115, 10119, 10128, 10152, 10153, 10154, 10162, 10165, 10167, 10168, 10169, 10170, 10171, 10172, 10173, 10174, 10177, 10199, 10271, 10278, 10279, 10280, 10282, 10301, 10302, 10303, 10304, 10305, 10306, 10307, 10308, 10309, 10310, 10311, 10312, 10314, 10451, 10452, 10453, 10454, 10455, 10456, 10457, 10458, 10459, 10460, 10461, 10462, 10463, 10464, 10465, 10466, 10467, 10468, 10469, 10470, 10471, 10472, 10473, 10474, 10475, 11001, 11003, 11004, 11005, 11040, 11101, 11102, 11103, 11104, 11105, 11106, 11109, 11201, 11203, 11204, 11205, 11206, 11207, 11208, 11209, 11210, 11211, 11212, 11213, 11214, 11215, 11216, 11217, 11218, 11219, 11220, 11221, 11222, 11223, 11224, 11225, 11226, 11228, 11229, 11230, 11231, 11232, 11233, 11234, 11235, 11236, 11237, 11238, 11239, 11351, 11354, 11355, 11356, 11357, 11358, 11359, 11360, 11361, 11362, 11363, 11364, 11365, 11366, 11367, 11368, 11369, 11370, 11371, 11372, 11373, 11374, 11375, 11377, 11378, 11379, 11385, 11411, 11412, 11413, 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423, 11424, 11425, 11426, 11427, 11428, 11429, 11430, 11432, 11433, 11434, 11435, 11436, 11451, 11691, 11692, 11693, 11694, 11697"

NY_Zip_Codes = NY_Zip_Codes.split(", ")
NY_Zip_Codes = list(map(int, NY_Zip_Codes))
NY_Zip = pd.DataFrame({"Zipcode": NY_Zip_Codes})

In [205]:
zip_data = zip_data.rename(columns={"RegionName": "Zipcode"})
zip_data = zip_data.merge(NY_Zip, on="Zipcode", how="inner")
zip_data.head()

,Date,RegionID,Zipcode,State,Metro,County,City,SizeRank,Zhvi,MoM,QoQ,YoY,5Year,10Year,PeakMonth,PeakQuarter,PeakZHVI,PctFallFromPeak,LastTimeAtCurrZHVI
0,2018-10-31,61639,10025,NY,New York-Newark-Jersey City,New York County,New York,0,1080800,-0.003963,-0.019683,-0.036634,NaN,NaN,2017-12,2017-Q4,1138600,-0.050764,2017-06
1,2018-10-31,61637,10023,NY,New York-Newark-Jersey City,New York County,New York,2,1398800,-0.013331,-0.047658,-0.124765,NaN,NaN,2016-12,2016-Q4,1618100,-0.135529,2014-04
2,2018-10-31,61616,10002,NY,New York-Newark-Jersey City,New York County,New York,8,985200,-0.011538,-0.021162,-0.024554,NaN,NaN,2017-10,2017-Q4,1010000,-0.024554,2017-06
3,2018-10-31,61807,10467,NY,New York-Newark-Jersey City,Bronx County,New York,9,424800,0.006158,0.026583,0.128587,NaN,NaN,2018-10,2018-Q4,424800,0.000000,2018-10
4,2018-10-31,62037,11226,NY,New York-Newark-Jersey City,Kings County,New York,12,824300,-0.001091,0.003408,0.184509,NaN,NaN,2018-09,2018-Q3,825200,-0.001091,2018-08

In [206]:
zip_db = zip_db.merge(zip_data, on="Zipcode", how="inner")
zip_db = pd.DataFrame({"Zipcode": zip_db["Zipcode"],"Latitude": zip_db["Latitude"], "Longitude": zip_db["Longitude"], "Zhvi": zip_db["Zhvi"]})
zip_db.head()

   Zipcode  Latitude  Longitude     Zhvi
0    10001     40.75     -74.00  2003600
1    10002     40.71     -73.99   985200
2    10003     40.73     -73.99  1666000
3    10004     40.69     -74.02  1113700
4    10005     40.71     -74.01  1164600

In [207]:
ny_data = ny_data.merge(NY_Zip, on="Zipcode", how="inner")
ny_data

,CMPLNT_NUM,ADDR_PCT_CD,State,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,...,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,Adress,Unnamed: 37,Zipcode
0,457872064,113,New York,QUEENS,6/30/2018,23:30:00,6/30/2018,23:40:00,COMPLETED,NaN,...,BLACK,F,1048111,188479,40.683786,-73.769745,"(40.68378593, -73.769745503)","Merrick Blvd + Baisley Blvd, Queens, NY 11434,...","Merrick Blvd + Baisley Blvd, Queens, NY 11434,",11434
1,443852823,113,New York,QUEENS,6/30/2018,21:30:00,6/30/2018,21:45:00,COMPLETED,NaN,...,BLACK,M,1048403,185653,40.676027,-73.768720,"(40.676027116, -73.76871958)","172-44 133rd Ave, Jamaica, NY 11434, USA","172-44 133rd Ave, Jamaica, NY 11434,",11434
2,522843547,113,New York,QUEENS,6/30/2018,21:30:00,6/30/2018,21:45:00,COMPLETED,NaN,...,BLACK,M,1048403,185653,40.676027,-73.768720,"(40.676027116, -73.76871958)","172-44 133rd Ave, Jamaica, NY 11434, USA","172-44 133rd Ave, Jamaica, NY 11434,",11434
3,504721590,113,New York,QUEENS,6/30/2018,21:20:00,6/30/2018,21:30:00,COMPLETED,NaN,...,BLACK,M,1050371,187013,40.679746,-73.761611,"(40.679745514, -73.761611316)","Farmers Bl/Merrick Bl, Queens, NY 11434, USA","Farmers Bl/Merrick Bl, Queens, NY 11434,",11434
4,497195999,113,New York,QUEENS,6/30/2018,16:30:00,6/30/2018,16:35:00,COMPLETED,NaN,...,BLACK,F,1049010,182682,40.667868,-73.766560,"(40.667867993, -73.766559801)","144-20 Farmers Blvd, Jamaica, NY 11434, USA","144-20 Farmers Blvd, Jamaica, NY 11434,",11434
5,409549163,113,New York,QUEENS,6/30/2018,16:20:00,6/30/2018,16:25:00,ATTEMPTED,NaN,...,BLACK,F,1048403,182768,40.668108,-73.768747,"(40.668108463, -73.768747038)","169-57 144th Rd, Jamaica, NY 11434, USA","169-57 144th Rd, Jamaica, NY 11434,",11434
6,478394187,113,New York,QUEENS,6/30/2018,15:40:00,6/30/2018,15:50:00,COMPLETED,NaN,...,BLACK,M,1047059,189285,40.686006,-73.773531,"(40.686005737, -73.773531042)","118-44 Merrick Blvd, Jamaica, NY 11434, USA","118-44 Merrick Blvd, Jamaica, NY 11434,",11434
7,673297413,113,New York,QUEENS,6/30/2018,13:10:00,6/30/2018,13:20:00,COMPLETED,NaN,...,UNKNOWN,M,1044526,183558,40.670304,-73.782715,"(40.670304074, -73.782715463)","153-21 Rockaway Blvd, Jamaica, NY 11434, USA","153-21 Rockaway Blvd, Jamaica, NY 11434,",11434
8,981016979,113,New York,QUEENS,6/30/2018,2:45:00,NaN,NaN,COMPLETED,NaN,...,BLACK,F,1050153,187120,40.680041,-73.762396,"(40.68004083, -73.762396234)","130-24 Merrick Blvd, Jamaica, NY 11434, USA","130-24 Merrick Blvd, Jamaica, NY 11434,",11434
9,618658052,113,New York,QUEENS,6/29/2018,15:30:00,6/30/2018,6:00:00,COMPLETED,NaN,...,BLACK,M,1048142,192668,40.695284,-73.769594,"(40.69528351, -73.769594002)","114-32 180th St, Jamaica, NY 11434, USA","114-32 180th St, Jamaica, NY 11434,",11434
10,246378144,113,New York,QUEENS,6/5/2018,14:20:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
11,960499264,113,New York,QUEENS,4/23/2018,0:00:00,6/5/2018,0:00:00,COMPLETED,NaN,...,BLACK,F,1048429,185284,40.675014,-73.768629,"(40.675014108, -73.76862936)","172-40 133rd Ave, Jamaica, NY 11434, USA","172-40 133rd Ave, Jamaica, NY 11434,",11434
12,847611329,113,New York,QUEENS,6/29/2018,22:30:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,D,1045456,186400,40.678098,-73.779337,"(40.678098321, -73.779337158)","Guy R Brewer Blvd /Baisley Blvd, Queens, NY 11...","Guy R Brewer Blvd /Baisley Blvd, Queens, NY 11...",11434
13,203766963,113,New York,QUEENS,6/29/2018,21:30:00,NaN,NaN,COMPLETED,NaN,...,BLACK,F,1046462,183646,40.670532,-73.775736,"(40.670532221, -73.77573569)","137-19 160th St, Jamaica, NY 11434, USA","137-19 160th St, Jamaica, NY 11434,",11434
14,117572076,113,New York,QUEENS,6/29/2018,16:49:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
15,238618723,113,New York,QUEENS,6/29/2018,16:35:00,6/29/2018,16:40:00,COMPLETED,NaN,...,BLACK,F,1048111,188479,40.683786,-73.769745,"(40.68378593, -73.769745503)","Merrick Blvd + Baisley Blvd, Queens, NY 11434,...","Merrick Blvd + Baisley Blvd, Queens, NY 11434,",11434
16,766736989,113,New York,QUEENS,6/29/2018,16:30:00,6/29/2018,16:50:00,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
17,354663629,113,New York,QUEENS,6/29/2018,9:40:00,6/29/2018,9:45:00,COMPLETED,NaN,...,BLACK,M,1046959,186778,40.679125,-73.773915,"(40.679125323, -73.773914941)","168-10 127th Ave, Jamaica, NY 11434, USA","168-10 127th Ave, Jamaica, NY 11434,",11434
18,933012739,113,New York,QUEENS,6/29/2018,1:30:00,NaN,NaN,COMPLETED,NaN,...,WHITE,F,1044754,185705,40.676196,-73.781874,"(40.676195535, -73.781874288)","127-11 160th St, Jamaica, NY 11434, USA","127-11 160th St, Jamaica, NY 11434,",11434
19,255340853,113,New York,QUEENS,6/29/2018,0:10:00,6/29/2018,0:30:00,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
20,100251583,113,New York,QUEENS,6/22/2018,12:00:00,NaN,NaN,COMPLETED,NaN,...,BLACK,F,1046154,184686,40.673389,-73.776836,"(40.673388939, -73.776836432)","133-26 161st St, Jamaica, NY 11434, USA","133-26 161st St, Jamaica, NY 11434,",11434
21,260200780,113,New York,QUEENS,6/21/2018,15:30:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046405,187113,40.680049,-73.775909,"(40.680048726, -73.775909194)","167-2 Baisley Blvd, Jamaica, NY 11434, USA","167-2 Baisley Blvd, Jamaica, NY 11434,",11434
22,593605524,113,New York,QUEENS,6/15/2018,2:00:00,6/15/2018,13:00:00,COMPLETED,NaN,...,UNKNOWN,E,1044993,189306,40.686078,-73.780980,"(40.686077796, -73.780980198)","116-23 166th St, Jamaica, NY 11434, USA","116-23 166th St, Jamaica, NY 11434,",11434
23,848765485,113,New York,QUEENS,6/28/2018,22:05:00,6/28/2018,22:05:00,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
24,649359416,113,New York,QUEENS,6/28/2018,20:08:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
25,660246874,113,New York,QUEENS,6/28/2018,20:08:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
26,317558212,113,New York,QUEENS,6/28/2018,17:30:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
27,582667188,113,New York,QUEENS,6/28/2018,15:00:00,6/28/2018,15:10:00,COMPLETED,NaN,...,WHITE HISPANIC,M,1045417,190911,40.690480,-73.779437,"(40.69048022, -73.779436814)","114-45 170th St, Jamaica, NY 11434, USA","114-45 170th St, Jamaica, NY 11434,",11434
28,423371168,113,New York,QUEENS,6/28/2018,15:00:00,6/28/2018,15:10:00,COMPLETED,NaN,...,WHITE HISPANIC,F,1045417,190911,40.690480,-73.779437,"(40.69048022, -73.779436814)","114-45 170th St, Jamaica, NY 11434, USA","114-45 170th St, Jamaica, NY 11434,",11434
29,224755458,113,New York,QUEENS,6/28/2018,14:45:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,E,1046315,187088,40.679981,-73.776234,"(40.679980738, -73.776233907)","120-73 167th St, Jamaica, NY 11434, USA","120-73 167th St, Jamaica, NY 11434,",11434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16948,449998567,105,New York,QUEENS,6/23/2018,9:10:00,6/23/2018,9:30:00,COMPLETED,NaN,...,WHITE HISPANIC,F,1051839,202912,40.723373,-73.756159,"(40.723373297, -73.75615911)","21024 NY-25, Queens Village, NY 11427, USA","21024 NY-25, Queens Village, NY 11427,",11427
16949,800725169,105,New York,QUEENS,6/20/2018,22:00:00,6/20/2018,22:05:00,COMPLETED,NaN,...,BLACK,M,1058038,206851,40.734135,-73.733752,"(40.734135308, -73.733751779)","821-04 Country Pointe Cir, Jamaica, NY 11427, USA","821-04 Country Pointe Cir, Jamaica, NY 11427,",11427
16950,336630472,105,New York,QUEENS,6/22/2018,0:30:00,6/22/2018,11:00:00,COMPLETED,NaN,...,BLACK,F,1052717,203642,40.725370,-73.752984,"(40.72537021, -73.75298412)","21240 NY-25, Queens Village, NY 11427, USA","21240 NY-25, Queens Village, NY 11427,",11427
16951,485391061,105,New York,QUEENS,6/21/2018,11:00:00,6/21/2018,16:00:00,COMPLETED,NaN,...,WHITE HISPANIC,F,1055145,205324,40.729968,-73.744207,"(40.729967746, -73.744206636)","21928 Hillside Avenue, Queens Village, NY 1142...","21928 Hillside Avenue, Queens Village, NY 11427,",11427
16952,752061695,105,New York,QUEENS,6/21/2018,2:00:00,6/21/2018,2:10:00,COMPLETED,NaN,...,WHITE HISPANIC,F,1057964,208196,40.737828,-73.734004,"(40.737827601, -73.734004055)","80-34 Winchester Blvd, Jamaica, NY 11427, USA","80-34 Winchester Blvd, Jamaica, NY 11427,",11427
16953,779940467,107,New York,QUEENS,6/20/2018,17:54:00,6/20/2018,18:16:00,COMPLETED,NaN,...,BLACK,M,1050640,203098,40.723893,-73.760483,"(40.723892899, -73.760482912)","86-61 208th St, Queens Village, NY 11427, USA","86-61 208th St, Queens Village, NY 11427,",11427
16954,426241283,105,New York,QUEENS,6/20/2018,14:30:00,6/20/2018,14:45:00,COMPLETED,NaN,...,WHITE,M,1057964,208196,40.737828,-73.734004,"(40.737827601, -73.734004055)","80-34 Winchester Blvd, Jamaica, NY 11427, USA","80-34 Winchester Blvd, Jamaica, NY 11427,",11427
16955,804552704,105,New York,QUEENS,6/18/2018,22:30:00,6/19/2018,0:00:00,COMPLETED,NaN,...,ASIAN/PAC.ISL,F,1054554,203743,40.725633,-73.746356,"(40.725633021, -73.746355516)","89-69 216th St, Queens Village, NY 11427, USA","89-69 216th St, Queens Village, NY 11427,",11427
16956,924475806,107,New York,QUEENS,6/18/2018,20:45:00,6/19/2018,7:30:00,COMPLETED,NaN,...,BLACK,F,1049442,203390,40.724703,-73.764802,"(40.724703276, -73.764802148)","Francis Lewis Blvd/Epsom Course, Queens, NY 11...","Francis Lewis Blvd/Epsom Course, Queens, NY 11...",11427
16957,791300576,107,New York,QUEENS,6/17/2018,16:36:00,6/17/2018,16:36:00,COMPLETED,NaN,...,BLACK,F,1050640,203098,40.723893,-73.760483,"(40.723892899, -73.760482912)","86-61 208th St, Queens Village, NY 11427, USA","86-61 208th St, Queens Village, NY 11427,",11427
16958,991889676,114,New York,MANHATTAN,6/27/2018,19:00:00,6/27/2018,19:10:00,COMPLETED,NaN,...,UNKNOWN,D,999036,218114,40.765345,-73.946624,"(40.765344827, -73.946624118)","688 Main St, New York, NY 10044, USA","688 Main St, New York, NY 10044,",10044
16959,541153696,114,New York,MANHATTAN,6/25/2018,12:30:00,6/25/2018,12:40:00,ATTEMPTED,NaN,...,BLACK,F,1000337,219482,40.769097,-73.941924,"(40.769097361, -73.941924247)","Octagon Dog Run, E Rd, New York, NY 10044, USA","Octagon Dog Run, E Rd, New York, NY 10044,",10044
16960,564712837,114,New York,MANHATTAN,6/25/2018,21:00:00,6/25/2018,21:10:00,COMPLETED,NaN,...,ASIAN/PAC.ISL,F,998946,218277,40.765792,-73.946949,"(40.76579237, -73.94694866)","713 River Rd, New York, NY 10044, USA","713 River Rd, New York, NY 10044,",10044
16961,385866275,114,New York,MANHATTAN,6/22/2018,21:10:00,6/22/2018,21:15:00,COMPLETED,NaN,...,WHITE HISPANIC,M,998290,217159,40.762725,-73.949319,"(40.762724815, -73.949319165)","570 Main St, New York, NY 10044, USA","570 Main St, New York, NY 10044,",10044
16962,685608320,18,New York,MANHATTAN,6/26/2018,9:25:00,6/26/2018,23:40:00,COMPLETED,NaN,...,WHITE,M,991046,214324,40.754952,-73.975472,"(40.754951998, -73.975471778)","235 Park Ave, New York, NY 10167, USA","235 Park Ave, New York, NY 10167,",10167
16963,604157580,18,New York,MANHATTAN,6/21/2018,8:30:00,6/21/2018,12:50:00,COMPLETED,NaN,...,WHITE,F,991046,214324,40.754952,-73.975472,"(40.754951998, -73.975471778)","235 Park Ave, New York, NY 10167, USA","235 Park Ave, New York, NY 10167,",10167
16964,188220764,1,New York,MANHATTAN,6/26/2018,18:44:00,NaN,NaN,COMPLETED,NaN,...,UNKNOWN,F,979630,199962,40.715533,-74.016667,"(40.715533248, -74.016667141)","6 River Terrace, New York, NY 10282, USA","6 River Terrace, New York, NY 10282,",10282
16965,736450531,1,New York,MANHATTAN,6/24/2018,15:00:00,6/24/2018,22:30:00,COMPLETED,NaN,...,WHITE,M,981171,199986,40.715600,-74.011108,"(40.715599792, -74.011108314)","teardrop park, Warren St, New York, NY 10282, USA","teardrop park, Warren St, New York, NY 10282,",10282
16966,166041893,1,New York,MANHATTAN,6/21/2018,17:45:00,6/21/2018,19:28:00,COMPLETED,NaN,...,UNKNOWN,D,979630,199962,40.715533,-74.016667,"(40.715533248, -74.016667141)","6 River Terrace, New York, NY 10282, USA","6 River Terrace, New York, NY 10282,",10282
16967,685482690,1,New York,MANHATTAN,6/19/2018,15:00:00,6/19/2018,23:00:00,COMPLETED,NaN,...,WHITE,F,979630,199962,40.715533,-74.016667,"(40.715533248, -74.016667141)","6 River Terrace, New York, NY 10282, USA","6 River Terrace, New York, NY 10282,",10282
16968,708069109,1,New York,MANHATTAN,6/18/2018,18:45:00,NaN,NaN,COMPLETED,NaN,...,WHITE,F,980152,200426,40.716807,-74.014784,"(40.716807074, -74.014784417)","321 North End Ave, New York, NY 10282, USA","321 North End Ave, New York, NY 10282,",10282
16969,652713379,1,New York,MANHATTAN,6/18/2018,18:30:00,6/18/2018,18:31:00,COMPLETED,NaN,...,UNKNOWN,D,979630,199962,40.715533,-74.016667,"(40.715533248, -74.016667141)","6 River Terrace, New York, NY 10282, USA","6 River Terrace, New York, NY 10282,",10282
16970,449358847,105,New York,QUEENS,6/25/2018,18:10:00,NaN,NaN,COMPLETED,NaN,...,WHITE,F,1065540,213942,40.753532,-73.706597,"(40.753532458, -73.706596761)","76-04 271st St, Queens, NY 11040, USA","76-04 271st St, Queens, NY 11040,",11040
16971,853898945,105,New York,QUEENS,6/23/2018,2:00:00,6/23/2018,2:15:00,COMPLETED,NaN,...,ASIAN/PAC.ISL,M,1066841,213542,40.752423,-73.701906,"(40.75242251, -73.701905936)","272-6 Union Tpke, Queens, NY 11040, USA","272-6 Union Tpke, Queens, NY 11040,",11040
16972,536178463,105,New York,QUEENS,6/4/2018,12:30:00,NaN,NaN,COMPLETED,NaN,...,BLACK,F,1065540,213942,40.753532,-73.706597,"(40.753532458, -73.706596761)","76-04 271st St, Queens, NY 11040, USA","76-04 271st St, Queens, NY 11040,",11040
16973,494350711,1,New York,MANHATTAN,6/25/2018,15:30:00,6/25/2018,20:00:00,COMPLETED,NaN,...,WHITE,M,979503,197025,40.707472,-74.017123,"(40.707471812, -74.017123196)","37 3 Pl, New York, NY 10280, USA","37 3 Pl, New York, NY 10280,",10280
16974,169241184,1,New York,MANHATTAN,5/15/2018,9:00:00,5/15/2018,9:10:00,COMPLETED,NaN,...,WHITE,F,979748,197531,40.708861,-74.016240,"(40.708860791, -74.016239854)","200 Rector Pl, New York, NY 10280, USA","200 Rector Pl, New York, NY 10280,",10280
16975,902671422,115,New York,QUEENS,6/23/2018,1:55:00,6/23/2018,2:00:00,COMPLETED,NaN,...,WHITE,M,1018554,220407,40.771584,-73.876153,"(40.771584324, -73.876152672)","94th St, East Elmhurst, NY 11371, USA","94th St, East Elmhurst, NY 11371,",11371
16976,105056522,14,New York,MANHATTAN,6/12/2018,13:00:00,6/22/2018,11:07:00,COMPLETED,NaN,...,BLACK,F,989922,213423,40.752480,-73.979530,"(40.752479774, -73.979529533)","Madison Av/E 41 St, New York, NY 10165, USA","Madison Av/E 41 St, New York, NY 10165,",10165
16977,215106092,14,New York,MANHATTAN,6/21/2018,10:00:00,6/21/2018,16:30:00,COMPLETED,NaN,...,BLACK,M,989922,213423,40.752480,-73.979530,"(40.752479774, -73.979529533)","Madison Av/E 41 St, New York, NY 10165, USA","Madison Av/E 41 St, New York, NY 10165,",10165

In [208]:
ny_data = ny_data.groupby("Zipcode").count()

In [209]:
ny_data = pd.DataFrame({"Number of Crimes": ny_data["State"]})
ny_data.head()

         Number of Crimes
Zipcode
10001                 201
10002                 175
10003                 176
10004                  19
10005                  22

In [210]:
ny_data= ny_data.reset_index()
zip_db = zip_db.merge(ny_data, on="Zipcode", how="inner")

     Zipcode  Latitude  Longitude     Zhvi  Number of Crimes
0      10001     40.75     -74.00  2003600               201
1      10002     40.71     -73.99   985200               175
2      10003     40.73     -73.99  1666000               176
3      10004     40.69     -74.02  1113700                19
4      10005     40.71     -74.01  1164600                22
5      10006     40.71     -74.01   943800                 6
6      10007     40.71     -74.01  2711900                45
7      10009     40.73     -73.98  1151900               101
8      10010     40.74     -73.98  1718700                81
9      10011     40.74     -74.00  1675900               128
10     10012     40.73     -74.00  2498200               108
11     10013     40.72     -74.00  2969300               125
12     10014     40.73     -74.01  1886400               118
13     10016     40.75     -73.98  1030300                91
14     10017     40.75     -73.97  1014100                48
15     10019     40.77     -73.99  1270600               158
16     10021     40.77     -73.96  1572400                33
17     10022     40.76     -73.97  1308100               117
18     10023     40.78     -73.98  1398800               101
19     10025     40.80     -73.97  1080800               198
20     10026     40.80     -73.95   951500               111
21     10027     40.81     -73.95  1068700               222
22     10028     40.78     -73.95  1509800                61
23     10029     40.79     -73.94   797600               197
24     10030     40.82     -73.94   883200                80
25     10032     40.84     -73.94   721400               117
26     10035     40.80     -73.93   854400               183
27     10036     40.76     -73.99  1104400               178
28     10038     40.71     -74.00  1030300                66
29     10044     40.76     -73.95   990400                 4
..       ...       ...        ...      ...               ...
114    11374     40.72     -73.86   764500                56
115    11375     40.72     -73.84   967700                56
116    11377     40.74     -73.90   744000               120
117    11378     40.72     -73.90   691700                37
118    11379     40.71     -73.88   719200                29
119    11385     40.70     -73.89   664500               181
120    11411     40.69     -73.73   461800                37
121    11412     40.69     -73.75   457500                78
122    11413     40.66     -73.75   464500                74
123    11414     40.66     -73.84   663900                24
124    11415     40.71     -73.83   646200                15
125    11416     40.68     -73.85   526600                39
126    11417     40.68     -73.84   519600                57
127    11418     40.70     -73.84   594400                57
128    11419     40.69     -73.82   500500                69
129    11420     40.67     -73.81   487600                89
130    11421     40.69     -73.85   572700                42
131    11422     40.66     -73.73   468100                39
132    11423     40.71     -73.76   559400                32
133    11426     40.74     -73.72   614600                13
134    11427     40.73     -73.75   633100                26
135    11428     40.72     -73.74   551200                32
136    11429     40.71     -73.74   469400                38
137    11432     40.72     -73.79   842400               102
138    11433     40.70     -73.79   456300                87
139    11434     40.68     -73.78   444500               210
140    11435     40.70     -73.81   513300                94
141    11436     40.68     -73.80   434900                33
142    11692     40.59     -73.79   357500                41
143    11694     40.58     -73.84   867600                25

[144 rows x 5 columns]

In [211]:
zip_db.to_csv("Ny_Data.csv")